{% if site.duoshuo_short_name && site.duoshuo_comments == true %}
<section>
	<h1>最近评论</h1>
	<ul class="ds-recent-comments" data-num-items="10">
	</ul>
	<!--多说js加载开始，一个页面只需要加载一次 -->
	<script type="text/javascript">
if(!duoshuoQuery){
	var duoshuoQuery = {short_name:"{{ site.duoshuo_short_name }}"};
	(function() {
	 var ds = document.createElement('script');
	 ds.type = 'text/javascript';ds.async = true;
	 ds.src = 'http://static.duoshuo.com/embed.js';
	 ds.charset = 'UTF-8';
	 (document.getElementsByTagName('head')[0] 
	  || document.getElementsByTagName('body')[0]).appendChild(ds);
	 })();
}
	</script>
	<!-- 多说js加载结束，一个页面只需要加载一次-->
</section>
{% endif %}
